## Chapter 6 Problem 9

In [67]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import RidgeCV, LassoCV

In [49]:
df = pd.read_csv('data/College.csv')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
Unnamed: 0     777 non-null object
Private        777 non-null object
Apps           777 non-null int64
Accept         777 non-null int64
Enroll         777 non-null int64
Top10perc      777 non-null int64
Top25perc      777 non-null int64
F.Undergrad    777 non-null int64
P.Undergrad    777 non-null int64
Outstate       777 non-null int64
Room.Board     777 non-null int64
Books          777 non-null int64
Personal       777 non-null int64
PhD            777 non-null int64
Terminal       777 non-null int64
S.F.Ratio      777 non-null float64
perc.alumni    777 non-null int64
Expend         777 non-null int64
Grad.Rate      777 non-null int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

In [51]:
df.describe()
x = df.iloc[:,3:]
y = df['Apps']
x.head()

,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

## Part a

In [52]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 5)

## Part b

In [53]:
lr = LinearRegression()
model1 = lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.9086676373740369

## Part c

In [87]:
scaler = StandardScaler()
scaler = preprocessing.StandardScaler().fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [91]:

rcv = RidgeCV(cv = 10)
rcv.fit(x_train_scaled, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=10, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [92]:
rcv.score(x_test_scaled,y_test)

0.909690625009824

## Part d

In [95]:
lcv = LassoCV(cv = 10)
lcv.fit(x_train_scaled, y_train)

LassoCV(alphas=None, copy_X=True, cv=10, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=100, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)

In [97]:
lcv.score(x_train_scaled,y_train)

0.930035491646976

In [99]:
lcv.coef_

array([3741.88576535, -210.34737972,  747.32092843, -161.12028569,
          0.        ,   49.24933643, -243.55347591,  115.32332931,
          0.        ,    0.        ,  -37.03868595,  -42.26399179,
          0.        ,  -41.60427743,  224.67006413,   64.26243486])

In [100]:
rcv.coef_

array([ 3.54928547e+03, -3.14384838e+02,  8.12273684e+02, -2.40026307e+02,
        2.72203328e+02,  5.78770304e+01, -2.61493215e+02,  1.58655041e+02,
        3.93314130e+00,  2.80240714e+00, -5.87013964e+01, -5.66230769e+01,
        3.96910794e+01, -6.27420788e+01,  2.80801800e+02,  1.27695119e+02])